
.main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.proyect{
    border-radius: 20px;
    display: flex;
    width: 95%;
    height: 300px;
    text-align: center;
    font-size: 1em;
    height: auto;
    flex-direction: column;
    transition: 0.5s;
    
    
}

.proyect:hover{
   
    cursor: pointer;
    transition: 1s;
    box-shadow: -4px 0px 20px lightgrey;
    transform: scale(1.001);
}
.proyect:active{
   animation-name: pushup;
   animation-duration: 1s;
}
.proyect-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content:center;
}
.proyect:hover .proyect-img{
    transform: scale(1.1);
    transition: 0.3s;
    color:rgb(31, 37, 37);
}




@media screen and (min-width: 728px){

    .proyect{
        width: 48%;
        
        margin: auto;
        height: 40%;
    }
}