
.main{
    grid-area: main;
}
.about-image{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.about-img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 6px;
}
.about-text{
    text-align: center;
    display: flex;
    align-items: center;
}
.about-text p{
    height: fit-content;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.formulario input,textarea{
    border-radius: 2px;
    border: solid 1px #69696975;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-width: 1px;
    height: 2em;
}
.formulario textarea{
    height: 6em;
    resize: none;
    margin: 1em auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 1em;
    box-sizing: border-box;
}
#form-contact-button{
    margin: auto;
    border: solid 1px grey;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: lighter;
    transition: 0.5s;
    font-size: 1.2em;
    width: 40%;
}

.mensajesDeConfirmacion{
    margin:3em;
}
.mensajeExito{
    border-radius: 6px;
    background: rgba(17, 71, 170, 0.856);
    text-align: center;
    padding: 1%;
    margin: 3% auto ;
    width: 50%;
    color:white;
    
}
.mensajeError{
    border-radius: 6px;
    color:rgba(80, 79, 79, 0.884);
    width: 50%;
    margin: 3% auto ;
    padding: 1%;
    background: rgba(161, 164, 168, 0.164);
    text-align: center;
}
.d-none{
    display: none;
    
}


@media screen and (min-width: 728px){
    
    body{
        background: linear-gradient(0.25turn, #f1f7e6, #fff)
    }
    .nav-menu{
        border-right: solid 1px;
        display: block;
    }
    .wrapper{
        margin: 0 4% 0 2% ; 
    }
    .about-text{
        font-size: 1em;
        line-height: 1.5em;
    }
    
    .contact{
        display: flex;
        flex-direction: column;
        padding: 8% 0;
        margin: 10% 0;
        justify-content: flex-end;

    }
    .formulario{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .formulario h2{
        font-size: 1.5em;
        font-weight: lighter;
    }
    .formulario label:nth-child(4){
            align-items: center;
    }

    label{
        margin: 2% 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
    
    .formulario input{
        width: 80%;
        height: 2.3em;
        padding: 0.3em;
        border-color: #696969a6;
        border-radius: 6px;
        box-sizing: border-box;
        background: none;
        margin-top: 1em;
        font-size: 1em;
    }
    .formulario textarea{
        border-radius: 6px;
        width: 80%;
        border-color: #696969a6;
    }
    
}

@media screen and (min-width: 940px){
    .about{
        display: flex;
     }
     .about-text{
         width: 40%;
     margin: 0 auto;
     }
    
}
