
    .main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .wrapper{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: auto 100px auto 1fr auto 100px;
        grid-template-areas: "nav"
                        "head"
                        "hero"
                         "main"
                         "postList"
                          "footer";
    }
    .button-1{
        padding: 1%;
        margin-top: 2%;
        background: none;
        border: solid 1px;
        cursor: pointer;
    }
    .nopage-button:active{
        animation-name: pushup;
   animation-duration: 1s;
    }
    .nopage-button:hover a{
        color:white;
    }
    #button-goback:hover a{
        color: white;
    }
    .subt-1{
        text-align: center;
    }
    
    .post{
        line-height: 2em;
        
        overflow: hidden;
    }
    .post-header{
        
    }
    .post-body{
        overflow: hidden;
    }
    .post-footer{
        margin-top: 1em;
        box-sizing: border-box;
        height: auto;
    }
    .post-label{
        
        background:transparent;
        border:solid 1px;
        display: inline;
        padding: 0.3em;
        border-radius: 10%;
        box-sizing: border-box;
        cursor: default;
    }
    .parrafo{
        
    }
    .entradas-blog ul{
        padding:0;
    }
    .entradas-blog ul li{
        list-style: none;
        cursor: pointer;
        padding: 1em 0;
    }
    .entradas-blog ul li:hover{
        background: lightgray;
        transition: 0.3s;
    }
    .entradas-blog ul a{
       text-align: center;
    }
    .post-list{
        grid-area: postList;
    }
    @media screen and (min-width: 728px){
        .wrapper{
            grid-template-columns:  25vw 1fr 1fr;
            grid-template-rows: 30vh 1fr auto 100px;
            grid-template-areas: "head hero hero"
                                  "nav main main"
                                  "postList postList postList"
                                  "footer footer footer"; 
        }
        .post-list{
            grid-area: postList;
            width: 100%;
        }
        .entradas-blog ul{
            display: flex;
            justify-content: space-around;
        }
        .entradas-blog ul a{
            width: 100%;
            
        }
        .post{
            border:solid grey 1px;
            padding: 2em 6em;
            box-sizing: border-box;
            border-right: none;
            border-left: none;
        }
        .post-labels{
            display: block;
            clear: both;
        }
        .post-body{
            margin: 2em 0;
        }
  
        
   
    }